@tailwind base;
@tailwind components;
@tailwind utilities;

.btn-primary {
    @apply px-7 py-3 md:px-9 md:py-4 font-medium md:font-semibold bg-amber-400 text-gray-50 text-sm rounded-md hover:bg-gray-50 hover:text-gray-700 transition ease-out duration-200
}

.btn-secondary {
    @apply px-7 py-3 md:px-9 md:py-4 font-medium md:font-semibold border-2 bg-white text-gray-700 border-gray-100 text-sm rounded-md hover:border-amber-400 hover:bg-gray-50 hover:border-2 transition ease-out duration-200
}

.project-container {
    @apply flex flex-wrap justify-between gap-6 drop-shadow-xl hover:bg-gray-200 transform hover:-translate-y-2 hover:drop-shadow-2xl rounded-xl 
}

.tech-container {
  @apply flex flex-wrap justify-start gap-6 drop-shadow-xl bg-gray-200 transform hover:-translate-y-2 hover:drop-shadow-2xl rounded-xl 
}

.tag-container {
  @apply flex justify-start items-center flex-wrap text-start mb-4 gap-2
}

.toggle-out {
  @apply opacity-0 ease-out duration-100
}

.toggle-in {
  @apply opacity-100 ease-in duration-200
}

body {
  @apply bg-white dark:bg-slate-900
}
* {
  transition: all .2s ease-in-out !important;
}

::-moz-selection { /* Code for Firefox */
    color: white;
    background: #FFCA28;
  }
  
  ::selection {
    color: white;
    background: #FFCA28;
  }